/* ======= importing poppins and inter font ========= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


/* ======== common color and font ========== */
@theme {
  /* ====== color ========== */
  --color-white_color: #ffffff;
  --color-black_color: #000000;
  --color-primary_color: #363738;
  --color-secondary_color: #F5F5F5;
  --color-secondary_color1: #DB4444;
  --color-text_color: #FAFAFA;
  --color-text1_color: #7D8184;
  --color-button1_color: #00FF66;
  --color-button_color: #DB4444;
  --color-hoverButton_color1: #E07575;
  --color-hoverButton_color2: #A0BCE0;

  /* ========= font ============ */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

}

/* ======== common color and font ========== */


/* ======== common style ========== */
.container {
  margin: auto;
  max-width: 1180px;
  /* background-color: bisque; */
}


* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
/* ======== common style ========== */

/* ======== custom style ========== */
.cart-number{
  position: relative;
}
.cart-number::after{
  position: absolute;
  content: '0';
  top: -9px;
  right: -7px;
  width: 18px;
  height:18px;
  border-radius: 50%;
  background-color: var(--color-secondary_color1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: var(--font-poppins);
  font-weight: 400;
  color: var(--color-text_color);
}

.normal-poppins-font{
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
/* ======== custom style ========== */